<mat-expansion-panel class="container">
  <mat-expansion-panel-header>
    <mat-panel-title class="d-flex align-items-start justify-content-between">
      <div class="d-flex">
        <img class="img" src="./assets/github-mark.svg"> Github
        <img class="img" src="./assets/success.svg" *ngIf="(user$ | async) as user" />
      </div>
      <div class="details" *ngIf="user$ | async as user">
        {{user.username}} : Last Sync {{user.connectedAt | date: 'medium'}}
      </div>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="expansion-panel">
    <ng-container *ngIf="user$ | async as user; else notLoggedIn">
      <div class="d-flex justify-content-end">
        <button mat-raised-button color="primary" (click)="remove()">Remove
          <img class="img" src="./assets/incognito.svg" *ngIf="(user$ | async) as user" />
        </button>
      </div>
      <div class="d-flex justify-content-end flex-column mt-2">
        <app-user-repo />
      </div>

    </ng-container>
    <ng-template #notLoggedIn>
      <div class="d-flex flex-column align-items-center justify-content-center">
        <button mat-raised-button color="primary" (click)="connect()">Connect</button>
        <p class="mat-body-1">Connect SREDIO TO Github</p>
      </div>
    </ng-template>
  </div>
</mat-expansion-panel>
